@font-face {
    font-family: 'mserrat';
    src: url('/public/assets/font/Montserrat.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body{
    margin: 0;
    font-family: mserrat;
}
:root{
    --hidVerde: #008000;   
}
/* header*/
.home{
    background-color: rgba(0, 0, 0, 0.6);
    height: 100vh;
    width: 100%   
}
.banner {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner video {
    height: 100vh;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
}
.banner .navbar {
    position: relative;
    z-index: 1;
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
}
header{
    position: fixed;
    top: 0;
    opacity: 0.8;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
header img{
    height: 10vh;
}
.navbar{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    justify-content: space-evenly;
}
.navbar a{
    color: var(--hidVerde);
    font-size: 20px;
}
.navbar a button{
    font-size: 15px;
    padding: 0 20px 0 20px;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    border-radius: 10px;
    height: 30px;
    border: none;
}
.navbar a button:hover{
    border-bottom: 2px solid var(--hidVerde);
}
.navbar .a-content button{
    align-self: flex-end;
    font-size: 20px;
    padding: 0 20px 0 20px;
    background-color: var(--hidVerde);
    color: white;
    border-radius: 10px;
    height: 30px;
    border: none;
}
.content{
    height: 100vh;
}
.text-main{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    max-width: 50%;
}
.text-main h1{
    font-size: 50px;
    margin-bottom: 10px;
}
.text-main p{
    margin: 0;
    font-size: 40px;
}
.background{
    height: 100%;
    width: 100%;
}
.background img{
    height: 100vh;
    position: absolute;
    z-index: -1;
    object-fit: cover;
    width: 100%;
}
.text-content{
    height: 100%;
    width: 100%;
    display:  flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.text-content h1{
    margin: 0;
}
/* login */
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 118px;
    height: 60%;
    width: 35%;
    border-radius: 20px;
    background-color: black;
}
.card h1{
    color: var(--hidVerde);
    justify-self: flex-start;
}
.card input{
    color: var(--hidVerde);
    height: 5%;
    margin-bottom: 5%;
    align-self: center;
    border-radius: 3px;
    width: 75%; 
}
.card p{
    color: var(--hidVerde);
    margin-left: 80px;
    align-self: flex-start;
}
.card span{
    color: var(--hidVerde);
}
.text-radio{
    display: flex;
    justify-content: center;
}
.text-radiolabel {
    display: flex;
    align-items: center;
    gap: 5px;
}
input[type="radio"] {
    color: var(--hidVerde);
    accent-color: var(--hidVerde);
    width: 16px;
    height: 16px;
    margin-right: 5px;
    background: white;
    margin-bottom: 20px;
}
.card button{
    font-size: 15px;
    padding: 0 20px 0 20px;
    background-color: var(--hidVerde);
    color: white;
    border-radius: 10px;
    height: 30px;
    border: none;
    margin-bottom: 60px;
}
